* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: sans-serif;
    background-color: #f8b78b;
}

#list-container .card .section-top img {
    height: 16rem;
    width: 16rem;
    padding: 1rem;
    background-color: #fcd3c6;
    box-shadow: 4px 4px 30px 0 #ff660092;
}
#list-container .card .section-bottom img {
    height: 2rem;
    filter: drop-shadow(3px 2px 2px rgb(0 0 0 / 0.4));
}

#list-container {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.card {
    background-color: whitesmoke;
    overflow: hidden;
    border: none;
    box-shadow: 4px 10px 16px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 10px 16px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 10px 16px -6px rgba(0, 0, 0, 0.75);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card .pokemon-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 1rem 1rem 0.5rem 1rem;
}
.card .pokemon-id {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: xx-large;
}

.card .pokemon-id span {
    color: #f6a56c;

    font-weight: bolder;
}
.card .pokemon-info p {
    font-size: smaller;
}
.card .pokemon-id span {
    align-self: center;
}
.card .section-bottom {
    border-top: 1px solid #ff6600;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: x-small;
    padding: 1.5rem;
}
